label {
  user-select: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.field-error {
  border-color: red;
}

.input-error {
  height: 20px;
  display: block;
  color: red;
}

.form-error {
  height: 20px;
  display: block;
  color: red;
}

.progress {
  visibility: hidden;
  width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  transition: width 500ms ease;
  background-color: #0d6efd;
}
